html{
	width: 200mm; height: 270mm;
	font-size: 10pt; line-height: 1.25;
}

body{
	width: 100%; height: 100%;
	background-color: rgb(230,230,230);
	position: relative;
	text-align: left;
}

p,ul,ol,blockquote{margin-bottom: 12pt}

p{text-align: justify;}

a{text-decoration: none;}
a:hover{text-decoration: underline;}

h1,h2,h3{ margin-bottom: 5pt; display: block;}
h4,h5,h6{display: inline;}

strong{font-weight: bold;}
em{font-style: italic; font-weight: lighter;}

ul,ol{margin-left: 0em;}
ul{list-style:disc inside;}
ul ul, ul ol{list-style: disc inside; margin-bottom:0;}
ol{list-style:decimal inside; overflow: hidden;}
ol ol, ol ul{ list-style:lower-roman inside; overflow: hidden; margin-bottom:0;}


	/*-----------------------------------------------------------------------------*/
	/*---------------------------- FAMILLE DE POLICE ------------------------------*/
	body{font-family: '', sans-serif;}
	h1,h2,h3,h4{font-family: '', sans-serif;}
	h5,h6{font-family: '', sans-serif;}
	/*---------------------------- FAMILLE DE POLICE ------------------------------*/
	/*-----------------------------------------------------------------------------*/
	/*----------------------------- TAILLE DE POLICE ------------------------------*/
	body{font-size: 10pt;}
	h1{font-size:18pt;}
	h2{font-size:16pt;}
	h3{font-size:15pt;}
	h4{font-size:12pt;}
	h5{font-size:11pt;}
	h6{font-size:10pt;}
	em{font-size: 9pt;}
	/*----------------------------- TAILLE DE POLICE ------------------------------*/
	/*-----------------------------------------------------------------------------*/
	/*--------------------------------- COULEURS ----------------------------------*/
	body{color: rgb(40,40,40);} /* couleur principale */
	h1{color: rgb(0,0,0);}
	h2{color: rgb(10,10,10);}
	h3{color: rgb(20,20,20);}
	h4{color: rgb(40,40,40);}
	h5{color: rgb(40,40,40);}
	h6{color: rgb(40,40,40);}
	a{color: rgb(60,60,60);} 
	a:hover{color: rgb(80,80,80);}
	strong{color: rgb(5,5,5);}
	/*--------------------------------- COULEURS ----------------------------------*/
	/*-----------------------------------------------------------------------------*/

header, #main, footer{
	position: relative;
	width: 200mm;
	margin: 0;
	background-color: rgb(242,242,242);
}

/*-----------------------------------------------------------------------------*/
/*######################## - GENERAL - #############################*/
/*##################################################################*/
/*######################## - CONTENU - #############################*/
	/*-----------------------------------------------------------------------------*/
	/*---------------------------------- HEADER -----------------------------------*/

	header{
		margin: 1.5em auto 0em;
		min-height: 10em;
		background-color: rgb(255,255,255);
		border: 1px solid rgb(150,150,150);
	}

	header img{
		display: inline-block;
		height: 10em;
		margin: 0em 1em;
		vertical-align: bottom;
	}
	header #infosperso{
		display: inline-block;
	}
	#infosperso h1{
		text-align: center;
		margin: 0.5em 0em 0em;
	}
	#infosperso p{
		font-size: 1.3em;
		text-align: center;
		margin: 0.5em 0em 0em;
	}
	#infosperso span{
		display: inline-block;
		margin: 0.2em 1.5em;
	}
	#infosperso em{
		font-size: 0.8em;
		font-style: italic;
	}
	/*---------------------------------- HEADER -----------------------------------*/
	/*-----------------------------------------------------------------------------*/
	/*----------------------------------- MAIN ------------------------------------*/
	#main{
		min-height: 10mm;
		padding: 1mm 3mm;
		border-left: 1pt solid rgb(150,150,150);
		border-right: 1pt solid rgb(150,150,150);
		border-bottom: 1pt solid rgb(150,150,150);
	}

	#main>section{
		width: 100%;
		margin: 3mm 0mm;
		padding: 3mm;
		background-color: rgb(255,255,255);
		border: 1pt solid rgb(150,150,150);
		text-align: center;
	}

	#main ul, #main dl{
		display: inline-block;
		vertical-align: top;
		margin: 0mm 3mm;
	}

		#main dl{
			font-size: 9pt;
			text-align: left;
		}
		#main dt{
			font-size: 9pt;
			font-weight: lighter;
		}
		#main dd{
			margin-bottom: 3mm;
		}

		#main ul{
			text-align: right;
		}
		#main li{
			list-style: none;
			margin-bottom: 2mm;
		}

	#main h1, #main h2, #main h3, #main h4{
		text-align: left;
	} 

	li>span{
		display: inline-block;
		min-width: 15mm;
		text-align: right;
	}

	li>.progress{
		display: inline-block;
		position: relative;
		width: 12mm;
		height: 3mm;
		background-color: rgb(190,190,190);
		border: 1pt	solid rgb(100,100,100);
		overflow: hidden;
		vertical-align: baseline;
	}
	.progress>.niveau{
		display: block;
		position: absolute; top: 0px; left: 0px; z-index: 2;
		height: 100%;
		background-color: rgb(130,130,130);
		border-right: 1px	solid rgb(100,100,100);
	}

	#main article{
		display: inline-block;
		text-align: left;
		margin: 0 1%;
		max-width: 45%;
	}
	#main article h3{
		text-align: center;
	}
	/*----------------------------------- MAIN ------------------------------------*/
	/*-----------------------------------------------------------------------------*/
	/*---------------------------------- HEADER -----------------------------------*/


/*######################## - CONTENU - #############################*/