html{
	width: 100%; height: 100%;
	font-size: 9px; line-height: 1.25;
}

body{
	width: 100%; height: 100%;
	background-color: rgb(230,230,230);
	position: relative;
	text-align: left;
}

p,ul,ol,blockquote{margin-bottom: 1.5em}

p{text-align: justify;}

a{text-decoration: none;}
a:hover{text-decoration: underline;}

h1,h2,h3{ margin-bottom: 0.5em; display: block;}
h4,h5,h6{display: inline;}

strong{font-weight: bold;}
em{font-style: italic; font-weight: lighter;}

ul,ol{margin-left: 0em;}
ul{list-style:disc inside;}
ul ul, ul ol{list-style: disc inside; margin-bottom:0;}
ol{list-style:decimal inside; overflow: hidden;}
ol ol, ol ul{ list-style:lower-roman inside; overflow: hidden; margin-bottom:0;}


	/*-----------------------------------------------------------------------------*/
	/*---------------------------- FAMILLE DE POLICE ------------------------------*/
	body{font-family: '', sans-serif;}
	h1,h2,h3,h4{font-family: '', sans-serif;}
	h5,h6{font-family: '', sans-serif;}
	/*---------------------------- FAMILLE DE POLICE ------------------------------*/
	/*-----------------------------------------------------------------------------*/
	/*----------------------------- TAILLE DE POLICE ------------------------------*/
	body{font-size: 1.5em;}
	h1{font-size:1,5em;}
	h2{font-size:1.6em;}
	h3{font-size:1.4em;}
	h4{font-size:1.1em;}
	h5{font-size:1.0em;}
	h6{font-size:1em;}
	em{font-size: 0.9em;}
	/*----------------------------- TAILLE DE POLICE ------------------------------*/
	/*-----------------------------------------------------------------------------*/
	/*--------------------------------- COULEURS ----------------------------------*/
	body{color: rgb(40,40,40);} /* couleur principale */
	h1{color: rgb(0,0,0);}
	h2{color: rgb(10,10,10);}
	h3{color: rgb(20,20,20);}
	h4{color: rgb(40,40,40);}
	h5{color: rgb(40,40,40);}
	h6{color: rgb(40,40,40);}
	a{color: rgb(60,60,60);} 
	a:hover{color: rgb(80,80,80);}
	strong{color: rgb(5,5,5);}
	/*--------------------------------- COULEURS ----------------------------------*/
	/*-----------------------------------------------------------------------------*/

header, #main, footer{
	position: relative;
	max-width: 60em;
	margin: 0px auto;
	background-color: rgb(242,242,242);
}

/*-----------------------------------------------------------------------------*/
/*######################## - GENERAL - #############################*/
/*##################################################################*/
/*######################## - CONTENU - #############################*/
	/*-----------------------------------------------------------------------------*/
	/*---------------------------------- HEADER -----------------------------------*/

	header{
		margin: 0em auto;
		min-height: 10em;
		background-color: rgb(255,255,255);
		border: 1px solid rgb(150,150,150);
	}

	header img{
		display: inline-block;
		width: 100%;
		height: auto;
		margin: 0em auto;
		vertical-align: bottom;
	}
	header #infosperso{
		display: inline-block;
	}
	#infosperso h1{
		font-size: 1.2em;
		text-align: center;
		margin: 0.5em 0em 0em;
	}
	#infosperso p{
		font-size: 1.3em;
		text-align: center;
		margin: 0.5em 0em 0em;
	}
	#infosperso span{
		display: inline-block;
		margin: 0.2em 0.5em;
	}
	#infosperso em{
		font-size: 0.8em;
		font-style: italic;
	}
	/*---------------------------------- HEADER -----------------------------------*/
	/*-----------------------------------------------------------------------------*/
	/*----------------------------------- MAIN ------------------------------------*/
	#main{
		min-height: 60em;
		padding: 0.1em 1em;
		margin-bottom: 1em;
		border-left: 1px solid rgb(150,150,150);
		border-right: 1px solid rgb(150,150,150);
		border-bottom: 1px solid rgb(150,150,150);
	}

	#main>section{
		width: 100%;
		margin: 1em 0em;
		padding: 1em;
		background-color: rgb(255,255,255);
		border: 1px solid rgb(150,150,150);
		text-align: center;
	}

	#main ul, #main dl{
		display: inline-block;
		vertical-align: top;
		margin: 0em 0em;
	}

		#main dl{
			font-size: 0.8em;
			text-align: left;
		}
		#main dt{
			font-size: 1.5em;
			font-weight: lighter;
		}
		#main dd{
			margin-bottom: 1em;
		}

		#main ul{
			text-align: right;
		}
		#main li{
			list-style: none;
			margin-bottom: 0.5em;
		}

	#main h1, #main h2, #main h3, #main h4{
		text-align: left;
	}
	#main h1{
		font-size: 1.6em;
	}

	li>span{
		font-size: 0.8em;
		display: inline-block;
		min-width: 4.5em;
		text-align: right;
	}

	li>.progress{
		display: inline-block;
		position: relative;
		width: 4em;
		height: 1em;
		background-color: rgb(190,190,190);
		border: 1px	solid rgb(200,200,200);
		overflow: hidden;
		vertical-align: bottom;
	}
	.progress>.niveau{
		display: block;
		position: absolute; top: 0px; left: 0px; z-index: 2;
		height: 1em;
		width: 2em;
		background-color: rgb(130,130,130);
		border-right: 1px	solid rgb(200,200,200);
	}

	#main article{
		display: block;
		text-align: center;
		margin: 0em;
		max-width: 100%;
	}
	#main article h3{
		text-align: center;
	}
	/*----------------------------------- MAIN ------------------------------------*/
	/*-----------------------------------------------------------------------------*/
	/*---------------------------------- HEADER -----------------------------------*/


/*######################## - CONTENU - #############################*/