@import url("https:onts.googleapis.com/css?family=Oxygen:400,700");
body{
	background-color: rgb(240,240,240);
	font-family: 'Oxygen', sans-serif;
}
/*custum separators*/
.horiz-line{
	border-top: 1px solid rgb(80, 80, 80);
	margin-bottom: 1em;
}

/*custum titles*/
.h4,.h5{
	display: block;
	}

/*custum header infos*/
.infos-profil{
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding-bottom: 0.2em;
	white-space: nowrap;
	display: inline-block;
	}

/*image protrait*/
#portrait{
	vertical-align: bottom;
}

/*custum progress bar*/
.progress {
	background: rgba(210, 210, 210, 1);
	border: 1px solid rgba(120, 120, 120, 1);
	border-radius: 15px;
	height: 30px;
	}
.progress-bar-custom {background: rgba(150, 150, 150, 1);}
.progress-bar{
	padding: 3px;
	text-align: left;
	}
.progress-bar > span{
	font-size: 1.2em;
	line-height: 1.2em;
	margin-left: 1em;
	}

/*custum listes*/
dl,dd{
	margin-left: 1em;
}